
body {
    background-color: #FFF0DE;
    font-family: 'Montserrat', 'Arial', 'Tahoma', sans-serif;
}

#yogatitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map1 {
    height: 400px;
    max-width: 70%;
}

#footer {
    background-color: #FFFFFF;
}
span {
    background-color: #fff8ef;
    padding-right: 0.5rem;
}

a {
    color: #CC9B9F;
}

a:hover {
    color: #A1CCC8;
}

#findbox {
	background: #eee;
	border-radius:.125em;
	border:2px solid #1978cf;
	box-shadow: 0 0 8px #999;
	margin-bottom: 10px;
	padding: 2px 0;
	width: 600px;
	height: 26px;
}
.search-tooltip {
	width: 200px;
}
.leaflet-control-search .search-cancel {
	position: static;
	float: left;
	margin-left: -22px;
}
