
body {
    background-color: #FFF0DE;
    font-family: 'Montserrat', 'Arial', 'Tahoma', sans-serif;
}

#yogatitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


a {
    color: #CC9B9F;
}

a:hover {
    color: #A1CCC8;
}
